# Operating System
*.DS_Store
Thumbs.db

# Compiled class file
*.class

# Log file
*.log

# Build artifacts
.gradle/
build/
target/
bin/

# Eclipse
.classpath
.project
.settings/

# IDEA
*.iml
*.ipr
*.iws
*.idea

# Derby
database/

